{% extends "base.html" %}

{% block content %}
<main class="container">
  <p class="display-5">値を入力してください</p>
  <p class="lead">{{error}}</p>
  <div class="d-flex flex-row bd-highlight mb-3">
    {% if type == "line" %}
    <div class="p-2 bd-highlight"><a href="{% url 'tiling' 'line' %}" class="btn btn-outline-info">直線×直線</a></div>
    <div class="p-2 bd-highlight"><a href="{% url 'tiling' 'parabola' %}" class="btn btn-info">直線×放物線</a></div>
    <div class="p-2 bd-highlight"><a href="{% url 'tiling' 'wave' %}" class="btn btn-info">直線×三角関数</a></div>
    {% elif type == "parabola" %}
    <div class="p-2 bd-highlight"><a href="{% url 'tiling' 'line' %}" class="btn btn-info">直線×直線</a></div>
    <div class="p-2 bd-highlight"><a href="{% url 'tiling' 'parabola' %}" class="btn btn-outline-info">直線×放物線</a></div>
    <div class="p-2 bd-highlight"><a href="{% url 'tiling' 'wave' %}" class="btn btn-info">直線×三角関数</a></div>
    {% elif type == "wave" %}
    <div class="p-2 bd-highlight"><a href="{% url 'tiling' 'line' %}" class="btn btn-info">直線×直線</a></div>
    <div class="p-2 bd-highlight"><a href="{% url 'tiling' 'parabola' %}" class="btn btn-info">直線×放物線</a></div>
    <div class="p-2 bd-highlight"><a href="{% url 'tiling' 'wave' %}" class="btn btn-outline-info">直線×三角関数</a></div>
    {% endif %}
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    {% if type == "line" %}
    <form class="row g-3" action="{% url 'display' 'line' %}" method="POST">{% csrf_token %}
        <div class="col-sm-6">
            <label for="lastName" class="form-label">横線の傾き</label>
            <input type="text" class="form-control" id="lastName" placeholder=""  name="horizontal_tilt" required>
            <div class="invalid-feedback">
              値を入力してください。
            </div>
        </div>
        <div class="col-sm-6">
            <label for="lastName" class="form-label">タイルの横幅</label>
            <input type="text" class="form-control" id="lastName" placeholder="" name="horizontal_interval" required>
            <div class="invalid-feedback">
              値を入力してください。
            </div>
        </div>
        <div class="col-sm-6">
            <label for="lastName" class="form-label">縦線の傾き</label>
            <input type="text" class="form-control" id="lastName" placeholder="" name="vertical_tilt" required>
            <div class="invalid-feedback">
              値を入力してください。
            </div>
        </div>
        <div class="col-sm-6">
            <label for="lastName" class="form-label">タイルの縦幅</label>
            <input type="text" class="form-control" id="lastName" placeholder="" name="vertical_interval" required>
            <div class="invalid-feedback">
              値を入力してください。
            </div>
        </div>
        <div class="col-sm-6">
            <label for="lastName" class="form-label">横方向の最大値(自然数)</label>
            <input type="text" class="form-control" id="lastName" placeholder="" name="horizontal_max" required>
            <div class="invalid-feedback">
              値を入力してください。
            </div>
        </div>
        <div class="col-sm-6">
            <label for="lastName" class="form-label">縦方向の最大値(自然数)</label>
            <input type="text" class="form-control" id="lastName" placeholder="" name="vertical_max" required>
            <div class="invalid-feedback">
              値を入力してください。
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="p-2 bd-highlight"><button type="submit" class="btn btn-warning">タイリング</button></div>
        </div>
    </form>
    {% elif type == "parabola" %}
    <form class="row g-3" action="{% url 'display' 'parabola' %}" method="POST">{% csrf_token %}
      <div class="col-sm-6">
          <label for="lastName" class="form-label">放物線の傾き</label>
          <input type="text" class="form-control" id="lastName" placeholder=""  name="parabola_tilt" required>
          <div class="invalid-feedback">
            値を入力してください。
          </div>
      </div>
      <div class="col-sm-6">
          <label for="lastName" class="form-label">タイルの横幅</label>
          <input type="text" class="form-control" id="lastName" placeholder="" name="horizontal_interval" required>
          <div class="invalid-feedback">
            値を入力してください。
          </div>
      </div>
      <div class="col-sm-6">
          <label for="lastName" class="form-label">タイルの縦幅</label>
          <input type="text" class="form-control" id="lastName" placeholder="" name="vertical_interval" required>
          <div class="invalid-feedback">
            値を入力してください。
          </div>
      </div>
      <div class="col-sm-6">
          <label for="lastName" class="form-label">横方向の最大値(自然数)</label>
          <input type="text" class="form-control" id="lastName" placeholder="" name="horizontal_max" required>
          <div class="invalid-feedback">
            値を入力してください。
          </div>
      </div>
      <div class="col-sm-6">
          <label for="lastName" class="form-label">縦方向の最大値(自然数)</label>
          <input type="text" class="form-control" id="lastName" placeholder="" name="vertical_max" required>
          <div class="invalid-feedback">
            値を入力してください。
          </div>
      </div>
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight"><button type="submit" class="btn btn-warning">タイリング</button></div>
      </div>
    </form>
    {% elif type == "wave" %}
    <form class="row g-3" action="{% url 'display' 'wave' %}" method="POST">{% csrf_token %}
      <div class="col-sm-6">
          <label for="lastName" class="form-label">タイルの縦幅</label>
          <input type="text" class="form-control" id="lastName" placeholder=""  name="vertical_interval" required>
          <div class="invalid-feedback">
            値を入力してください。
          </div>
      </div>
      <div class="col-sm-6">
          <label for="lastName" class="form-label">一タイルあたりの波の数(自然数)</label>
          <input type="text" class="form-control" id="lastName" placeholder="" name="waves_number" required>
          <div class="invalid-feedback">
            値を入力してください。
          </div>
      </div>
      <div class="col-sm-6">
          <label for="lastName" class="form-label">横方向の最大値(自然数)</label>
          <input type="text" class="form-control" id="lastName" placeholder="" name="horizontal_max" required>
          <div class="invalid-feedback">
            値を入力してください。
          </div>
      </div>
      <div class="col-sm-6">
          <label for="lastName" class="form-label">縦方向の最大値(自然数)</label>
          <input type="text" class="form-control" id="lastName" placeholder="" name="vertical_max" required>
          <div class="invalid-feedback">
            値を入力してください。
          </div>
      </div>
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight"><button type="submit" class="btn btn-warning">タイリング</button></div>
      </div>
    </form>
    {% endif %}
  </div>
</main>
{% endblock content %}